@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define colors */
  --backgroundColor: #242424;
  --primaryColor: #48f;
  --secondaryColor: #fb1;
  --appDestructiveColor: #f55;
  --formSize: 2.5em;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Set font size to approx fit 20 lines in the list */
  /* font-size: max(14px, 1.62vh); */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-around;
}

/* Tailwind forms
 * @see https://v1.tailwindcss.com/components/forms
 */
.input {
  @apply appearance-none rounded border px-3 py-1 leading-tight shadow;
  height: var(--formSize);
}
.input.inactive,
.input.disabled {
  @apply pointer-events-none;
}
.input.disabled {
  @apply opacity-50;
}

.input-primary {
  @apply border-1 ring-(--primaryColor) border-blue-500 focus:outline-none focus:ring;
}

/* Tailwind buttons
 * @see https://v1.tailwindcss.com/components/buttons
 */
.btn,
.btn-base {
  @apply box-border items-center gap-2 truncate rounded transition-all;
  height: var(--formSize);
}
.btn {
  @apply px-2 py-1;
}
.btn-sm-text {
  /* Button collapses to icon-only button (hides nested span) on sm widths */
  @apply sm:px-4 [&>span]:hidden [&>span]:sm:block;
}
.btn-text {
  @apply px-4;
}
.btn.inactive,
.btn.disabled {
  @apply pointer-events-none;
}
.btn.disabled {
  @apply opacity-50;
}
.btn:not(.inactive):not(.disabled) {
  @apply cursor-pointer;
}
.btn-icon {
  @apply justify-center px-1;
  min-width: var(--formSize); /* Try to make it square */
}
.btn-plain {
}
.btn-plain:hover {
  @apply bg-blue-400/20;
}
.btn-framed {
  @apply border-1 border-blue-500;
}
.btn-framed:hover {
  @apply bg-blue-400/20;
}
.btn-primary {
  @apply bg-(--primaryColor);
}
.btn-primary:hover {
  @apply bg-(--primaryColor)/80;
}
.btn-blue {
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-400;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes bgColorShift {
  0%,
  100% {
    background-color: rgba(99, 99, 99, 0);
  }
  50% {
    background-color: rgba(99, 99, 99, 0.2);
  }
}

.animate-bgColorShift {
  /* TODO: It's required to implement synchronized animations (probably via css vars) */
  animation: bgColorShift 4s infinite;
}
